body {
    font-size: 1.11em;
    background-color: transparent;
    padding: 0;
}

a,
.btn {
    cursor: pointer;
}

.hidden {
    visibility: hidden;
}

.placeholder {
    color: var(--vscode-input-placeholderForeground);
}

select option:not([value='']) {
    color: var(--vscode-input-foreground) !important;
}

button.btn {
    display: inline-block;
    outline: none;
    text-decoration: none !important;
    margin: 0;
    margin-top: 0.11em;
    padding: 0;
    margin-left: 0.44em;
    margin-right: 0.44em;
    width: 1.23em;
    height: 1.23em;
    background: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    vertical-align: middle;
}

button.btn:disabled {
    cursor: default;
    opacity: 0.22;
}
