body {
    font-size: 1.11em;
    background-color: transparent;
    padding: 0;
}

a,
.btn {
    cursor: pointer;
}

.hidden {
    visibility: hidden;
}

.placeholder {
    color: var(--vscode-input-placeholderForeground);
}

select option:not([value='']) {
    color: var(--vscode-input-foreground) !important;
}

button.btn {
    display: inline-block;
    outline: none;
    text-decoration: none !important;
    margin: 0;
    margin-top: 0.11em;
    padding: 0;
    margin-left: 0.44em;
    margin-right: 0.44em;
    width: 1.23em;
    height: 1.23em;
    background: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    vertical-align: middle;
}

button.btn:disabled {
    cursor: default;
    opacity: 0.22;
}

button.btn-plus {
    background-image: url('../../node_modules/@vscode/codicons/src/icons/diff-added.svg');
}

button.btn-minus {
    background-image: url('../../node_modules/@vscode/codicons/src/icons/diff-removed.svg');
}

div.tab-container {
    display: block;
    position: relative;
}

div.tab-container>input[type="radio"] {
    display: none;
}

div.tab-page>label {
    float: left;
    padding: 0.44em;
    background-color: var(--vscode-tab-inactiveBackground);
    color: var(--vscode-tab-inactiveForeground);
    border-left: solid 1px var(--vscode-tab-lastPinnedBorder);
    border-bottom: solid 1px var(--vscode-tab-lastPinnedBorder);
    text-align: center;
    vertical-align: middle;
    height: 2em;
}

div.tab-page:last-child>label {
    border-right: solid 1px var(--vscode-tab-lastPinnedBorder);
}

div.tab-content {
    position: absolute;
    width: 100%;
    top: 2em;
    padding: 0.44em;
    display: none;
    border-left: solid 1px var(--vscode-tab-lastPinnedBorder);
    border-right: solid 1px var(--vscode-tab-lastPinnedBorder);
    border-bottom: solid 1px var(--vscode-tab-lastPinnedBorder);
}

div.tab-container>input[type="radio"]:checked+div.tab-page>div.tab-content {
    display: block;
}

div.tab-container>input[type="radio"]:checked+div.tab-page>label {
    border-bottom: solid 1px var(--vscode-tab-activeBackground);
    background-color: var(--vscode-tab-activeBackground);
    color: var(--vscode-tab-activeForeground);
}

table.inputgrid>tr.inputgrid-header>th.inputgrid-header {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

input.inputfield {
    width: 100%;
}

table.inputgrid>tr>td.inputgrid-cell {
    vertical-align: middle;
}

table.inputgrid input.inputfield-addrec {
    font-style: italic;
    background-color: var(--vscode-inputValidation-infoBackground) !important;
    transition: background-color 1000ms linear;
}

table.inputgrid input.inputfield-addrec:not(:placeholder-shown) {
    background-color: var(--vscode-editor-stackFrameHighlightBackground) !important;
}

div.multipanel>h3 {
    margin-top: 1em;
    color: var(--vscode-tab-inactiveForeground);
    border-bottom: 1px solid var(--vscode-tab-inactiveForeground);
}

div.multipanel>span.multipanel-section {
    display: block;
    margin-bottom: 3em;
}

div.inputform div.inputform-field>div.inputform-field-label {
    display: inline-block;
    padding: 0.22em;
    width: 22%;
}

div.inputform div.inputform-field>div.inputform-field-input {
    display: inline-block;
    padding: 0.22em;
    width: 77%;
}

body>div#config_editor_main,
body>div#coll_editor_main,
body>div#proj_editor_main {
    margin: 1em;
}

body>div#page_editor_main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #a0a0a0;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

body>div#page_editor_main>svg#page_editor_canvas {
    position: relative;
    margin: 0;
    padding: 0;
    display: inline-block;
    overflow: visible;
}

body>div#page_editor_main>svg#page_editor_canvas>rect.shape {
    fill: #ffffff;
    stroke: #000000;
    opacity: 0.22;
}

body>div#page_editor_main>svg#page_editor_canvas>rect.shape-selected,
body>div#page_editor_main>svg#page_editor_canvas:not(:has(rect.shape-selected))>rect.shape {
    opacity: 1.0;
}

body>div#page_editor_main>svg#page_editor_canvas>rect.shape-selected {
    stroke: var(--vscode-focusBorder) !important;
}

body>div.page-editor-top-toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 0.44em 0 #000;
    padding: 0 0.44em;
    white-space: nowrap;
    overflow: auto;
}

body>div.page-editor-top-toolbar a {
    text-decoration: underline;
}

body>div#page_editor_top_toolbar {
    top: 0;
    background-color: var(--vscode-tab-activeBackground);
    height: 2.11em;
}

body>div.page-editor-top-toolbar>div.page-editor-top-toolbar-block {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    padding-left: 0.22em;
    padding-right: 0.44em;
    margin-right: 0.44em;
    margin-top: 0.22em;
    border-right: 1px solid var(--vscode-tab-inactiveForeground);
}

body>div.page-editor-top-toolbar>div.page-editor-top-toolbar-block>* {
    margin-bottom: 0.11em;
    margin-top: 0.11em;
}

body>div.page-editor-top-toolbar>div.page-editor-top-toolbar-block>* {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
}

body>div.page-editor-top-toolbar>div.page-editor-top-toolbar-block-right {
    float: right;
}

body>div#page_editor_shape_toolbar {
    padding-top: 2.55em;
    background-color: var(--vscode-sideBar-background);
    height: 4.56em;
    font-size: 0.88em;
}

body>div#page_editor_shape_toolbar>div.page-editor-top-toolbar-block,
body>div#page_editor_shape_toolbar>div.page-editor-top-toolbar-block>* {
    vertical-align: bottom;
    background-color: var(--vscode-sideBar-background);
}

body>div#page_editor_shape_toolbar>div.page-editor-top-toolbar-block input {
    text-align: right;
    width: 3.22em;
    margin: 0;
    padding: 0;
}

body>div#page_editor_main>div.page-editor-shape-edgebar {
    display: none;
    position: absolute;
    line-height: 0;
    min-width: 1em;
    min-height: 1em;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

body>div#page_editor_main>div.page-editor-shape-edgebar>button.btn {
    padding: 0;
    margin: 0;
    width: 0.8em;
    height: 0.8em;
    border: 1px solid var(--vscode-tab-inactiveForeground);
    background-color: var(--vscode-sideBar-background);
}

body>div#page_editor_main>div#page_editor_shape_edgebar_left,
body>div#page_editor_main>div#page_editor_shape_edgebar_right {
    max-width: 1em;
}

body>div#page_editor_main>div#page_editor_shape_edgebar_upper,
body>div#page_editor_main>div#page_editor_shape_edgebar_lower {
    max-height: 1em;
}

body>div#page_editor_main>div#page_editor_shape_edgebar_left>button.btn,
body>div#page_editor_main>div#page_editor_shape_edgebar_right>button.btn {
    display: block;
}

body>dialog.page-editor-props-dialog {
    position: absolute;
    display: block;
    max-width: 88%;
    max-height: 88%;
    padding: 0.55em;
    background-color: var(--vscode-sideBar-background);
    color: var(--vscode-sideBar-foreground);
    border: 1px solid var(--vscode-editorWidget-border);
    border-radius: 0.22em;
    box-shadow: 0 0 0.44em 0 #000;
}

body>dialog.page-editor-props-dialog h3 {
    margin-top: 0;
}

body>dialog.page-editor-props-dialog div.multipanel>span.multipanel-section {
    margin-bottom: 1.23em;
}

body>dialog.page-editor-props-dialog h3,
body>dialog.page-editor-props-dialog div.inputform div.inputform-field {
    white-space: nowrap;
}

body>dialog.page-editor-props-dialog div.inputform div.inputform-field>div.inputform-field-label {
    white-space: nowrap;
    width: 9em;
}

body>dialog.page-editor-props-dialog div.inputform div.inputform-field>div.inputform-field-label strong {
    font-weight: normal;
}

body>dialog.page-editor-props-dialog div.inputform div.inputform-field>div.inputform-field-input {
    width: 7em;
}

body>dialog.page-editor-props-dialog>.page-editor-props-dialog-buttons {
    text-align: center;
}

body>dialog.page-editor-props-dialog>div.page-editor-props-dialog-buttons>button.btn {
    margin: 0;
}

body>div#page_editor_main>div.page-editor-textarea {
    position: absolute;
    text-align: center;
    font-size: 1.77em;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
